<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" href={{ url_for('static', filename='main.css')}}>
    </head>
    <body>

        <div class="wrapper">
            <header>
                <p class="gold">Your Gold:</p>
                <p class="gold" id="score">{{ yourGold }}</p>
            </header>

            <form class="farm" action="/process_money" method="post">
                    <h6>Farm</h6>
                    <p>(earns 10-20 golds)</p>
                    <input type="hidden" name="where" value="farm">
                    <input type="submit" name="" value="Find Gold!">
            </form>
            <form class="cave" action="/process_money" method="post">
                    <h6>Cave</h6>
                    <p>(earns 5-10 golds)</p>
                    <input type="hidden" name="where" value="cave">
                    <input type="submit" name="" value="Find Gold!">
            </form>
            <form class="house" action="/process_money" method="post">
                    <h6>House</h6>
                    <p>(earns 2-5 golds)</p>
                    <input type="hidden" name="where" value="house">
                    <input type="submit" name="" value="Find Gold!">
            </form>
            <form class="casino" action="/process_money" method="post">
                    <h6>Casino</h6>
                    <p>earns/takes 0-50 golds</p>
                    <input type="hidden" name="where" value="casino">
                    <input type="submit" name="" value="Find Gold!">
            </form>

            <p>Activities:</p>
            <article class="">
                {% for i in msg[::-1] %}
                    {{ i|safe }}
                {% endfor %}
            </article>
        </div>
    </body>
</html>
